* {

    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;

}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #468132;
    height: 200px;
    padding-left: 450px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

h1 {

    text-shadow: 2px 0 #000000;
    font-size: 70px;
    font-weight: 900;
    text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

#line {

    height: 150px;
    width: 13px;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

div {

    display: flex;
    width: 230px;
    align-items: center;

}

nav {

    margin-left: 5vw;
    width: 2000px;

}

ul {

    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

li {

    flex-basis: 46%;
    background-color: #BDFCA7;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    height: 75px;
    margin: 0.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-shadow: 2px 0 #000000;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

img {

    position: absolute;
    left: 130px;
    top: 130px;

}

span {

    position: absolute;
    border-radius: 50%;
    left: -170px;
    top: -170px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.25);

}

#circle_1 {

    background-color: #FFE4AE;
    height: 490px;
    width: 490px;
    z-index: 3;

}

#circle_2 {

    background-color: #FFCE6F;
    height: 530px;
    width: 530px;
    z-index: 2;

}

#circle_3 {

    background-color: #EC9D03;
    height: 570px;
    width: 570px;
    z-index: 1;
    

}